body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

p {
  margin: 0 0 1em;
}

.divider-line {
    margin: 0;
    border-top: 1px solid #7d97ad;
}

.row-top {
  margin-top:20px;
}

.blue-gray,  .header-1  {
  color: #7d97ad;
}

.header-1 {
  font-style: normal;
  text-transform: uppercase;
}

.no-padding {
  padding: 0;
  margin: 0;
}

.portfolio {
  border-radius: 6px;
  border: 1px solid #7d97ad;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.portfolio:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
}

@media screen and (max-width: 568px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }
}
